@model BugTracker2.Models.UserModel

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<body>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="Home">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="Bugs/BugHistory">
                    <i class="bi bi-menu-button-wide"></i><span>Bug History</span>
                </a>

            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Charts</span>
                </a>
            </li><!-- End Charts Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="users-profile.html">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="Login">
                    <i class="bi bi-box-arrow-in-right"></i><span>Login</span>
                </a>
            </li><!-- End Login Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="Bugs/SubmitTicket">
                    <i class="bi bi-envelope"></i>
                    <span>Submit A Ticket</span>
                </a>
            </li><!-- End Contact Page Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <h4>Login Page</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form action="/Login" method="post">
                    <input type="text" name="username" placeholder="Username" />
                    <input type="text" name="password" placeholder="Password" />
                    <input type="submit" value="Login" />
                </form>

                @*@using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.TextAreaFor(m => m.UserID, new
                    { style = "width: 100%; height: 100px;", @id = "cleetus" })
                    @Html.ValidationMessageFor(m => m.UserID)
                    <input type="submit" style="width: 100%; height: 35px;" value="Submit" />
                }*@
            </div>
        </div>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
    </footer><!-- End Footer -->

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
