@model List<BugTracker2.Models.BugModel>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>

<body>
    <main id="main" class="main">

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
    </footer><!-- End Footer -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>

</body>
</html>


